<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (ngSubmit)="cadastrar()">
  <div class="form-group">
    <input placeholder="e-mail" class="form-control" formControlName="email" />
    <app-mensagens *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] && novoUsuarioForm.get('email')?.touched "
      mensagem="E-mail Obrigatório">
    </app-mensagens>
    <app-mensagens *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] &&
    novoUsuarioForm.get('email')?.touched" mensagem="E-mail no formato incorreto">
    </app-mensagens>
  </div>
  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName" />
    <app-mensagens *ngIf="
      novoUsuarioForm.get('fullName')?.errors &&
      novoUsuarioForm.get('fullName')?.touched" mensagem="Nome incorreto">
    </app-mensagens>
  </div>
  <div class="form-group">
    <input placeholder="Usuário" class="form-control" formControlName="userName" />
    <app-mensagens
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
             novoUsuarioForm.get('userName')?.touched"
      mensagem="Usuário deve ser em letra minúscula">
    </app-mensagens>
    <app-mensagens *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']" mensagem="Usuário já existe"></app-mensagens>
  </div>
  <div class="form-group">
    <input placeholder="Senha" class="form-control" formControlName="password" />
    <app-mensagens
    *ngIf="novoUsuarioForm.errors?.['senhaIguaisUsuario']"
    mensagem="Senha deve ser difernete so usuário">

    </app-mensagens>
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça Login!</a> </p>
